.CommentItem {
  padding: 15px;
  border-bottom: 1px solid #ced4da;
  background-color: #fff;
}

.CommentItem:last-child {
  border-bottom: none;
  border-radius: 4px !important;
}

.CommentItem__username {
  font-weight: 500;
  margin-right: 10px;
}

.CommentItem__link {
  text-decoration: none;
  color: inherit;
}

.CommentItem__link:hover {
  color: inherit;
  text-decoration: underline;
}

.CommentItem__btn {
  margin-right: 15px;
}

.CommentItem__user {
  display: flex;
  margin-bottom: 5px;
}
